.card {
  display: flex;
}

.image-box {
  width: 324px;
  height: 244px;
  border: solid 2px black;
  overflow: hidden;
  cursor: pointer;
}

.img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}