.content-404 {
  display: flex;
  justify-content: center;
}

.h2 {
  width: calc(100% - 250px);
  margin: 20px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
}
