.form2-main {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form2-notice {
  color: #FFFFFF;
  font-size: 20px;
}

.form2-wrapper {
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #4169E1;
  border-radius: 10px;
}

.form2-gender-choice {
  display: flex;
}

.form2-gender-options {
  display: flex;
  flex-direction: column;
}

.form2-gender-option {
  display: flex;
}

.form2-accept-terms {
  display: flex;
}

.form2-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form2-button {
  width: 80px;
  height: 30px;
}